.top-menu__container * {
  color: #cccccc;
}

.top-menu__container {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: min-content min-content;
  background-color: #3c3c3c;
  position: relative;
  /* z-index: 1488; */
}

.logo {
  height: 24px;
  width: 24px;
  user-select: none;
  margin: 3px 6px;
}

.top-menu-buttons__container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-items: center;
  align-items: center;
  user-select: none;
}

.top-menu__button {
  padding: 5px 6px;
  cursor: context-menu;
  transition: ease-out 0.03s;
  position: relative;
  white-space: nowrap;
}

.top-menu__button:hover,
.top-menu__button:focus {
  background-color: #505050;
  transition: ease-in 0.05s;
  outline: none;
}

.top-menu__button:focus .top-menu-context__container {
  transition: ease-in 0.05s;
  visibility: visible;
}

.top-menu-context__container {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #252526;
  z-index: 1488;
  padding: 5px 0;
  visibility: hidden;
  transition: ease-out 0.03s;
}

.top-menu-context__container a {
  text-decoration: none;
  cursor: context-menu;
}

.top-menu-context__container hr {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #bfbfbf99;
  color: #bfbfbf99;
  border: none;
  height: 1px;
}

.top-menu-context {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  white-space: nowrap;
  padding: 0 20px;
  transition: ease-out 0.03s;
}

.top-menu-context:hover {
  transition: ease-in 0.05s;
  background-color: #094771;
}

.top-menu-context__shortcut {
  justify-self: end;
}
