body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.AppContainer {
  display: grid !important;
  grid-template-areas:
    "a a"
    "b c";
  grid-template-columns: min-content 1fr;
}

.AppTopMenu {
  grid-area: a;
}

.AppNavigationBar {
  grid-area: b;
}

.AppResizeContainer {
  grid-area: c;
  height: 96vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

rect[id$="rect"] {
  fill: steelblue;
  opacity: 0.5;
}
