.body {
  flex-grow: 3;
  display: flex;
  flex-flow: row nowrap;
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar {
  background: lightpink;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}
.container {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  overflow: hidden;
}
